@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="search"]::-webkit-search-decoration,
  [type="search"]::-webkit-search-cancel-button {
    appearance: none;
  }

  [type="search"] {
    appearance: textfield;
    outline-offset: -2px; /* Fix outline style in Safari */
  }

  input[type="text"],
  input[type="search"],
  textarea {
    @apply bg-zinc-100;
    @apply text-zinc-950;
  }

  button svg {
    @apply text-zinc-100;
  }
}
