@tailwind base;
@tailwind components;
@tailwind utilities;

[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

[type="search"] {
  appearance: textfield;
  outline-offset: -2px; /* Fix outline style in Safari */
}
